lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

*.ts1

.DS_Store
.dcud/
.nyc_output/
.packages
.test_results/
.vscode-test/
#.vscode/
.vscode/.browse.VC.db*
*.log
build/
coverage/
bin/
logs/
node_modules/
out/
pubspec.lock
dartcfmt.exe
Generated.xcconfig
vsc-extension-quickstart.md
